@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.left-side {
    background-color: deeppink;
    color: black;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;

}

.left-side input {
    background: none;
    border: none;
    padding-top: 20px;
}

.left-side button {
    background: none;
    border: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.left-side button:hover {
    background-color: white;
}

.right-side {
    background-color: black;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    padding-left: 20px;
}

.completed-task button{
    text-decoration: line-through;
}

.task button {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: none;
    border: none;
}
.task button:hover {
    background-color: white;
    color: black;
}

.login-page {
    background-color: black;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.sign-in {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.login-btn {
    margin-top: 10px;
    background-color: #464D85;
}

.login-form{
    margin-top: 100px;
    width: 400px;
    text-align: center;
    display: inline-block;
    background-color: deeppink;
    color: black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.login-form input {
    width: 200px;
}

.add-task-form {
    padding-top: 10px;
    height: 250px;
}



