<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="login-page">
<div>
    <div class="login-form">
        <h1 class="sign-in">Sign In</h1>
        <form th:action="@{/login}" method="post" >
            <div class="mb-4">
                <label for="username" >Username</label></br>
                <input id="username" type="text" name="username" autocomplete="off"
                       class=""
                       placeholder="Your Username">
            </div>

            <div class="">
                <label for="password" >Password</label></br>
                <input id="password" type="password" name="password" autocomplete="off"
                       class=""
                       placeholder="Your Password">
            </div>
            <div class="">
                <input class="login-btn"
                       type="submit" value="Login">
            </div>

        </form>
        <div class="">
            <p class="">
                Don't have an account? <a href="" class="">Create an Account</a>.
            </p>
        </div>
    </div>
</div>
</body>
</html>