<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="main-page">

<div class="header">
      <h1 th:text = "'Hello, ' + ${username}" ></h1>
      <form class="logout" action="/logout" method="post">
          <input type="submit" value="Sign Out"/>
      </form>
</div>
<div class="navbar">
    <button type="submit">Сегодня</button></br>
    <button type="submit">Завтра</button></br>
    <button type="submit">Проекты</button></br>
</div>
<div class="task-list">
    <p>This your tasks on today</p>
  <tr th:each="task: ${tasks}" >
      <form th:action="@{delete}" method="post">
          <input type="hidden" name="id" th:value="${task.id}" />
          <button type="submit" class="done-btn">done</button>
          <td th:text="${task.description}" />
      </form></br>

  </tr>
</div>
  <div class="add-task-form">
  <form th:action="@{new-task}" method="post">
      <input type="text" name="description">
      <button type="submit">Add</button>
  </form>
  </div>


</body>
</html>